body
{
	font-family: 'Arial', sans-serif;
	background-color: #CCC;
}
#header
{
	background-color: #2A2A2A;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
}
h1
{
	color: #FF0047;
	font-weight: 300;
	margin-left: 5%;
	display: inline-block;
}
h2
{
	color: #FF0047;
	font-weight: 300;
}
#cuerpo
{
	background-color: white;
	margin-top: 120px;
	width: 600px;
	padding: 30px;
	min-height: 300px;
	margin-right: auto;
	margin-left: auto;
}