<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="es" xml:lang="es">
<head>
    <title>Book List</title>
    <link href="/css/template.css" rel="stylesheet">
</head>
<body>
 	<div id="header">
        <a href="/"><h1> Books </h1></a>
    </div>
    <div class="books">
    {% for book in books %}
        <div class="book">
           <h1>Book Title: {{book.title}}</h1>
    	<h2>Author: {{book.author}}</h2>
    	<strong>Main characters:</strong>
    	<ul>
    		{% for character in book.main_characters %}
      		<li>{{character}}</li>
      		{% endfor %}
    	</ul>
  		</div>
  	{% endfor %}
</div>
	
</body>
</html>