/*style for first div in form with id "box1"*/
#box1 {
    margin: 5px 0px;;
}

/*style for "Travel using a"*/
#text1 {
    font-weight: bold;
}

/*style for radio button's*/
.transport {
    margin: 10px 0px;
}

/*style for second div in form with id "box2"*/
#box2 {
    margin: 5px 0px;
}

/*style for "Passengers"*/
#text2 {
    font-weight: bold;
}

/*style for submit button*/
#submitbutton {
    border-radius: 20px;
    margin: 5px 0px;
    padding: 5px 15px;
    text-align: center;
}
